
.datagrid               {width: 100%; margin-top: 2em; border-collapse: collapse;}

.datagrid th, .datagrid td
                        {padding: 0.5em 0.5em 1px 0.5em;}

.datagrid th            {border-bottom: 2px solid #333; text-align: left;
                         background: #ccc; font-size: normal;}
.datagrid tfoot td      {border-top: 2px solid #333;}
.datagrid td            {border-bottom: 1px solid #ccc;
                         font-size: smaller;}
.datagrid .l-0 td       {padding-top: 1px; background-color: #fff;
                         border-left: 1px solid #ddd; border-right: 1px solid #ddd;}
.datagrid tr.l-0:hover td {background-color: #eee}

.datagrid tr td:first-child span:first-child
                        {font-weight: bold; margin-right: 0.5em;}
.datagrid tr td:first-child span:first-child:after
                        {content: ':';}

.datagrid .datagrid_button
                        {cursor: pointer; border-top: 2px solid #777; border-left: 1px outset #777;
                         background: #ddd;}
.datagrid .datagrid_button:hover
                        {background: #ddf !important;}

